@font-face {
    font-family: breakingBadFont;
    src: url(../fonts/BreakingBad.otf);
}

.periodic-element{
    border: 2px solid white;
    float: left;
    text-align: center;
    background: linear-gradient(-45deg, rgba(92,190,115,1) 1%,rgba(24,43,4,1) 100%);
    /*background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.2) 100%); *//* FF3.6+ *//*
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0.2))); *//* Chrome,Safari4+ *//*
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); *//* Chrome10+,Safari5.1+ *//*
    background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); *//* Opera 11.10+ *//*
    background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); *//* IE10+ *//*
    background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); *//* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#33ffffff',GradientType=0 ); /* IE6-9 */
    height: 180px;
    width: 200px;
    box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.7);
    /*border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;*/
}

.atomic-num {
    font-size: 20px;
    vertical-align: text-top;
}

#breaking-bad{
    font-family: "Times New Roman";
    min-height: 700px;
    padding-left: 200px;
    margin-top:15px;
    background:#000;
    background:
        linear-gradient(left, rgba(33,53,18,.3) 0%,rgba(38,88,19,.4) 30%,rgba(73,91,9,.3) 74%,rgba(24,43,4,.3) 100%),
        #000;

    background:
        linear-gradient(to left, rgba(33,53,18,.3) 0%,rgba(38,88,19,.4) 30%,rgba(73,91,9,.3) 74%,rgba(24,43,4,.3) 100%),
        #000;
    overflow: hidden;
}

#bb-body{
    color: whitesmoke;
    padding: 100px 0px 0px 300px;
    text-align: center
}

.left{
    float: left;
}

.name{
    font-size: 150px;
    vertical-align: baseline;
}